/* these styles are in the head of this page because this is a unique page */

body {
    background-color: #F1F1F1;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

img {
	border: none;
	display: block;
}

hr {
	margin: 1em 0;
	background: #ddd;
	height: 1px;
	color: #ddd;
	border: none;
	clear: both;
}

.ui-tabs-nav a {
	border: none ! important;
	text-decoration: none;
}

#languagebar {
        text-align: right;
        position: relative;
        float: right;
        z-index: 1;
}
#languagebar a:link, #languagebar a:visited {
	text-decoration: none;
	color: #777;
	border-bottom: 1px dotted #ccc;
	font-weight: normal;
}
#languagebar a:hover {
	text-decoration: none;
	color: #333;
	border-bottom: 1px solid #333;
	
}

header {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 1em;
    position: relative;
    display: block;
}

footer {
    display: block;
    border-top: 1px solid #DDDDDD;
    padding: 1em 0;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    padding-right: 1em;
}

#content {
    min-height: 400px;
    margin-top: 2em;
}

.old {
	text-decoration: line-through;
}

dl dt {
	color: #333;
}

dl dd {
	color: #666;
	margin-left: 3em;
/*	font-family: monospace; */
}

.efieldlist {
	padding: .4em;
	margin: .8em;
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
}

.efieldlist.warning {
	background-color: #922;
	border: 1px solid #333;
	color: white;
}

.efieldlist.warning h5 {
	color: white;
}

.efieldlist h5 {
	font-weight: bold;
	color: #200;
	margin: .3em;
}

.trackidtext {
	border: 1px dashed #aaa;
	background: #eaeaea;
	padding: .6em;
	margin: .4em;
}

.trackidtext .trackid {
	border: 1px solid #ccc;
	background: #eee;
	margin: .4em;
	padding: .4em;
	font-family: monospace;
	font-size: large;
}

.formTable input[type="checkbox"] {
    margin: -3px 0 0;
}

div.caution {
	background-color:  #FF9;
	background-image: url('../../../../resources/icons/experience/gtk-dialog-warning.48x48.png');
	background-repeat: no-repeat;
	border: thin solid #444;
	padding: .2em .2em .2em 60px;
	margin: 1em 0px 1em 0px;
}

th.rowtitle {
        text-align: left;
}
.enablebox table {
	border: 1px solid #eee;

	margin-left: 1em;
}
.enablebox.mini table {
	float: right;
}
.enablebox tr td {
	padding: .5px 1em 1px .5em;
	margin: 0px;
}
.enablebox {
	font-size: 85%;
}
.enablebox tr.enabled td {
	background: #eee;
}
.enablebox tr.disabled td {
	background: #ccc;
}

.metadatabox {
	overflow: scroll; 
	border: 1px solid #eee; 
	padding: 2px;
}
div.preferredidp {
	border: 1px dashed #ccc;
	background: #eee;
	padding: 2px 2em 2px 2em;	
}

table.modules {
	border-collapse: collapse;
}
table.modules tr td {
	border-bottom: 1px solid #ddd;
}
table.modules tr.even td {
	background: #f0f0f0;
}

/* Attribute presentation in example page */
table.attributes {
	width: 100%;
	margin: 0px;
	border: 1px solid #bbb;
	border-collapse: collapse;
}

table.attributes td.attrname {
	text-align: right;
}

table.attributes tr.even td {
	background: #eee;
}

table.attributes tr td {
	border-bottom: 1px solid #bbb; 
	border-left: 0px;
	border-right: 0px;	
	background: #fff;
	padding-top: 5px;
	padding-left: 1em;
	padding-right: 1em;
	
	vertical-align: top;
}
table#table_with_attributes tr:last-child td {
	border-bottom: none;
}

fieldset.fancyfieldset {
	margin: 2em 1em 1em 0px;
	border: 1px solid #bbb;
}
fieldset.fancyfieldset legend {
	margin-left: 2em;
	padding: 3px 2em 3px 2em;
	border: 1px solid #bbb;
        width: auto;
}

div#confirmation input {
	margin-top: .5em;
	margin-bottom: .5em;
}
div#confirmation {
	border: 1px solid #aaa;
	background: #eee;
	padding: .6em 1em .1em 1em;
}

caption {
	display: none;
}

/* Left-to-Right CSS for RTL (Right to Left Support) */
.float-r {
	float: right;
}
.float-l {
	float: left;
}

.login {
	width: 50%;
}

.login label {
	font-weight: bold;
	font-size: 110%;
	line-height: 24px;
	min-width: 30px;
}
